@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');

:root {
	/* colors */
	--color-text: #252525;
	--color-text-h1: #252525;
	--color-text-h2: #303030;
	--color-text-h3: #353535;
	--color-text-h4: #404040;
	--color-highlight: #aaa;
	--color-bg: #F8F4F1;
}
body {
	font-family: "Raleway", sans-serif;
}

header {
	font-family: "Roboto", sans-serif;
	position: relative;
	max-width: 100%;
	height: 120px;
	font-size: 1.4em;
	padding-top: 20px;
	padding-right: 80px;
	padding-left: 80px;
	color: #252525;
	background-color: white;
}

.logo {
	height: 50px;
	margin-right: 20px;
}

.logo-container {
	font-size: 2em;
	font-weight: 900;

}

.logo-top {
	position: relative;
	display: flex;
	padding-top: 20px;
	padding-left: 30px;
	float: left;
}

.hero-container {
	float: center;
	min-height: 600px;
	max-width: 12000px;
}

.hero {
	background-color: white;
	border-style: solid;
	border-width: 50px;
	border-color: white;
	border-radius: 20px;
	top: 0;
	left: 0;
	float: right;
	transform: translate(-400px, -180px);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 2.6em;
	line-height: 0.8;
}

.hero-container .hero-text {
	color: #000000;
	font-family: "Raleway", sans-serif;
	font-size: 1.6em;
	width: 60%;
	height: 400px;
	position: absolute;
	top: 30%;
	left: 18%;
}

.signup-text {
	float: left;
	min-height: 700px;
	max-width: 500px;;
	top: 53%;
	right: 3%;
	transform: translate(80px, 140px);
}

.signup-text > p {
	color: #000000;
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	font-size: 1.6em;
	font-weight: 300;
}

.plan-container {
	display: inline-block;
	width: 400px;
	height: 400px;
	transform: translate(10px, -380px);
}

.plan-container .plan-1 {
	float: left;
	background-image: linear-gradient(to bottom, rgb(231, 206, 61), rgb(233, 151, 43));
	height: 300px;
	width: 300px;
	border-radius: 20px;
	transform: translateX(40px);
	box-shadow: 0px 0px 5px #888888;
	transition: height 0.7s;
}

.plan-1-top > #plan-1-title {
	float: center;
	font-family: "Raleway", sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	text-align: center;
	transform: translateY(13px);
	color: black;
}

.plan-1-top {
	width: 298px;
	height: 100px;
	border-radius: 20px;
	position: relative;
	transform: translate(40px, 39px);
	background-color: white;
	box-shadow: 0px 0px 3px #888888;
} 

.plan-1 > #plan-1-price {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	width: 80%;
	transform: translate(30px, 195px);
	text-align: center;
	color: white;
}

.plan-1 > #plan-1-img {
	width: 70%;
	float: center;
	transform: translate(47px, -30px);
}

.plan-1 > #plan-1-text {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
	float: center;
	transform: translateY(-315px);
	color: white;
}

.plan-1 .plan-1-hidden {
	font-family: "Raleway", sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
	float: center;
	color: white;
	transform: translateY(-130px);
	display: none;
	transition: display 1s;
}

.plan-container2 {
	display: inline-block;
	width: 400px;
	height: 400px;
	transform: translate(100px, -750px);
}

.plan-container2 .plan-2 {
	float: center;
	background-image: linear-gradient(to bottom, rgb(231, 206, 61), rgb(233, 151, 43));
	height: 300px;
	width: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px #888888;
	transform: translate(50px, -68px);
	transition: height 0.7s;
	transition: background-color 0.5s;
	-webkit-transition:height 0.7s; 
}

.plan-2-top > #plan-2-title {
	position: relative;
	font-family: "Raleway", sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	text-align: center;
	transform: translateY(13px);
	color: black;
}

.plan-2-top {
	width: 298px;
	height: 100px;
	position: relative;
	border-radius: 20px;
	transform: translate(50px, 0px);
	background-color: white;
	box-shadow: 0px 0px 3px #888888;
} 

.plan-2 > #plan-2-price {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	width: 80%;
	text-align: center;
	transform: translate(30px, 224px);
	color: white;
}

.plan-2 > #plan-2-img {
	width: 45%;
	float: center;
	transform: translate(85px, 35px);
}

.plan-2 > #plan-2-text {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
	float: center;
	transform: translateY(-200px);
	color: white;
}

.plan-2 .plan-2-hidden {
	font-family: "Raleway", sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
	float: center;
	color: white;
	transform: translateY(-20px);
	display: none;
	transition: display 1s;
}

.plan-container3 {
	display: inline-block;
	width: 400px;
	height: 400px;
	transform: translate(8px, -345px);
}

.plan-container3 .plan-3 {
	float: right;
	background-image: linear-gradient(to bottom, rgb(231, 206, 61), rgb(233, 151, 43));
	height: 300px;
	width: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px #888888;
	transform: translate(-50px, -39px);
	transition: height 0.7s;
	transition: background-color 0.5s;
	-webkit-transition:height 0.7s;
}

.plan-3-top > #plan-3-title {
	position: relative;
	font-family: "Raleway", sans-serif;
	font-size: 1.6em;
	font-weight: 600;
	transform: translateY(20px);
	text-align: center;
	color: black;
}

.plan-3-top {
	width: 298px;
	height: 100px;
	border-radius: 20px;
	position: relative;
	transform: translate(51px, 0px);
	background-color: white;
	box-shadow: 0px 0px 3px #888888;
} 

.plan-3 > #plan-3-price {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	width: 80%;
	transform: translate(30px, 195px);
	text-align: center;
	color: white;
}

.plan-3 > #plan-3-img {
	width: 45%;
	float: center;
	transform: translate(78px, 5px);
}

.plan-3 > #plan-3-text {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
	float: center;
	transform: translateY(-240px);
	color: white;
}

.plan-3 .plan-3-hidden {
	font-family: "Raleway", sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
	float: center;
	color: white;
	transform: translateY(-50px);
	display: none;
	transition: display 1s;
}

.plan-1:hover { 
	height: 550px;
}

.plan-1:hover .plan-1-hidden{ 
	display: block;
}

.plan-2:hover {
	height: 600px;
}

.plan-2:hover .plan-2-hidden {
	display: block;
}

.plan-3:hover {
	  height: 600px;
  }

.plan-3:hover .plan-3-hidden {
	display: block;
}

main {
	grid-area: content;
	width: 100%;
}

nav ul {
	width: 100%;
	font-family: "Raleway", sans-serif;
	max-width: 800px;
	display: flex;
	float: right;
	justify-items: center;
	align-items: center;
	text-align: center;
	padding: 10px 10px;
	font-size: 0.8em;
	justify-content: space-between;
}

nav ul li {
	display: flex;
	margin: 10px 10px;
}

nav ul li.active {
	border-bottom: 3px #252525 solid;
	transition: all 0.3s ease-in-out;
}

nav ul li:hover.active {
	border-bottom: 3px var(--color-highlight) solid;
}
nav ul li a {
	transition: all 0.3s ease-in-out;
}

nav ul li:hover > a {
	color: var(--color-highlight);
}

aside {
	grid-area: aside;
	color: #252525;
	padding: 10px 30px;
}

.aside-container {
  margin: 1em auto;
  width: auto;
  border-top: 1px #252525 solid;
  border-bottom: 1px #252525 solid;
	position: sticky;
	top: 20px;
	width: 240px;

}

.aside-container h4 {
	padding-left: none;
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1em;
}

aside ol {
	padding-left: 20px;
	list-style: none;
}

aside ol li {
	margin: 20px 0;
	font-size: 0.8em;
}

aside a.active {
	font-weight: 600;
}

aside a,
header a {
	color: #252525;
	text-decoration: none;
	font-size: 1em;
	transition: all 0.3s ease-in-out;
}

aside a {
	font-size: 1.2em;
	font-weight: 500;
}

aside a:hover,
header a:hover {
	color: var(--color-highlight);
}

article a {
	color: #369;
}



article p {
	padding: 0 25px;
}

article ol {
	padding: 0 50px;
	list-style: decimal;
}

article ul {
	padding: 0 50px;
	list-style: initial;
}

figure {
	display: block;
	margin-left: 25px;
	margin: 0 auto;
}

figure figcaption {
	display: block;
}

figure.image-container {
	max-width: 800px;
}

figure.image-container figcaption,
label {
	display: block;
	text-align: center;
	font-weight: 300;
}

figure img {
	display: block;
	width: 100%;
	margin: inherit auto;
}

figure.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	margin: inherit auto;
	height: 0;
}

figure.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.video-container figcaption {
	display: block;
	width: 100%;
	position: absolute;
	top: 103%;
	text-align: center;
	font-weight: 300;
}

figure.prototype-container {
	height: 800px;
	
}

figure.prototype-container iframe {
	width: 100%;
	height: 100%;
}

figure.prototype-container figcaption {
	display: block;
	text-align: center;
	font-weight: 300;
}

footer {
	position: relative;
	grid-area: footer;
	grid-column: span 3;
	height: 100px;
	text-align: center;
	font-size: 1.4em;
	background-color: var(--color-bg);
	color: white;
}

footer a {
	position: absolute;
	left: 60px;
	bottom:36px;
	color: #252525;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: color 0.3s ease-in-out;
}

footer a:hover {
	color: var(--color-highlight);
}

footer .logo-container {
	position: absolute;
	right: 60px;
	bottom:	14px;

}

footer .logo-container img {
	margin-bottom: 0;
	height: 60px;
}


.center-container {
	padding: 2em;
	display: flex;
	justify-items: center;
}

.button {
	border: none;
	cursor: pointer;
	border-radius: 16px;
	font-size: 0.8em;
	background-color: white;
    color: #000000;
	display: inline-block;
	font-family: "Raleway", sans-serif;
    line-height: 24px;
    margin-top: 0px;
    padding: 12px 32px 12px 32px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.button .label,
.button .icon-arrow {
    backface-visibility: hidden;
    perspective: 1000;
}

.button .label {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.button .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: all 0.3s ease-in-out;
	width: 35px;
	margin-left: 15px;
    position: relative;
	top:1px;
}

.button .icon-arrow-left {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: all 0.3s ease-in-out;
	width: 35px;
	transform: rotate(180deg);
	margin-right: 15px;
    position: relative;
	top:1px;
}

.icon-arrow-up {
	width: 35px;
	height: 15px;;
	transform: rotate(-90deg);
	fill: #252525;
	transition: all 0.3s ease-in-out;
}

footer a:hover .icon-arrow-up {
	fill: var(--color-highlight);
}


.button:hover, .button:hover .icon-arrow, .button:hover .icon-arrow-left {
	border-color: var(--color-highlight);
	fill: var(--color-highlight);
	color: var(--color-highlight);
}

.button:active {
    border-color: var(--color-highlight);
    color: var(--color-highlight);
}

.button:active .icon-arrow, .button:active .icon-arrow-left {
    fill: var(--color-highlight);
}

.separator {
	display: block;
	margin: 20px auto 20px;
	width: 160px;
	border-top: 1px solid;
	color: white;
}

#toggle, label[for=toggle] {
	display: none;
}

/* --------------------------------
Typography
-------------------------------- */

:root {
	--font-primary: "Lato", sans-serif;
	--font-secondary: serif;
	/* set base values */
	--text-base-size: 1em;
	--text-scale-ratio: 1.25;
	/* type scale */
	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	/* line-height */
	--heading-line-height: 1.2;
	--body-line-height: 1.4;
	/* spacing values */
	--space-unit: 2em;
	--space-xxxs: calc(0.25 * var(--space-unit));
	--space-xxs: calc(0.375 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));
	--space-xxxl: calc(8.5 * var(--space-unit));
	/* components padding */
	--component-padding: var(--space-sm);
}

body {
	font-size: var(--text-base-size);
	font-family: var(--font-primary);
	color: var(--color-text);
}

h1,
h2,
h3,
h4 {
	color: var(--color-text-heading);
	margin-bottom: var(--space-xs);
	line-height: var(--heading-line-height);
	font-weight: 900;
	padding-left: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
}


/* text size */

h1,
.text--xxl {
	font-size: var(--text-xxl);
	color: var(--color-text-h1);
}

h2,
.text--xl {
	font-size: var(--text-xl);
	color: var(--color-text-h2);
}

h3,
.text--lg {
	font-size: var(--text-lg);
	color: var(--color-text-h3);
}

h4,
.text--md {
	font-size: var(--text-md);
	color: var(--color-text-h4);
}

.text--sm,
small {
	font-size: var(--text-sm);
}

.text--xs {
	font-size: var(--text-xs);
}

p {
	line-height: var(--body-line-height);
	margin: var(--space-sm) 0;
	font-size: 1.8em;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
}

ol,
ul {
	line-height: var(--body-line-height);
	margin: var(--space-sm) 0;
}

aside ol,
aside ul {
	margin: var(--space-xxs) 0;
	line-height: 0.5em;
}

iframe {
	margin-bottom: var(--space-sm);
}

figure {
	margin-bottom: var(--space-md);
}

img,
article .content-container pre,
label {
	margin-bottom: var(--component-padding);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	line-height: var(--body-line-height);
	margin: var(--space-sm) 25px;
	font-weight: 600;
	padding: 25px;
	font-family: serif;
	font-style: italic;
	background-color: var(--color-bg);
}

/* --------------------------------
Responsive
-------------------------------- */

@media (max-width: 768px) {

	.container {
	
		grid-template-areas:
			"header"
			"aside"
			"content"
			"footer";
	
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-gap: 10px;
	
		height: 100vh;
	}

	header {
		z-index: 50;
	}

	main {
		margin-bottom: 100px;
		display: block;
		grid-column: 1 / -1;
	}

	.container.home {
		grid-gap: 0;
	}

	aside {
		display: block;
		position: static;
		grid-column: 1 / -1;
		z-index: 45;
		background-color: #fff;

	}

	.header-container {
		max-width: none;
	}

	.header-container h1 {
		margin: 20px 0;
		padding-left: 0;
		font-size: var(--text-lg)
	}
	.content-container {
			margin: 2em 10px;;
	}

	.hero-container img {
		display: block;
		position: static;
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		transform: none;
	}

 	 .hero-container .hero-text {
		display: block;
		position: static;
		width: 100%;
		margin: 0 auto;
		max-width: 720px;
	}

	.team-container {
		padding: 40px 5px;
	}

	footer {
		height: 110px;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 48;
	}

	footer a {
		display: block;
		position: static;
		margin: 20px 100px 10px 20px;
		float: left;
	}

	footer a::after { 
		content: "";
		display: block; 
		clear: both;
	}

	footer .icon-arrow-up {
		width: 20px;
	}

	footer .logo-container {
		position: static;
		display: block;
		float: left;
		width:100%;
	}

	footer .logo-container img {
		height: 40px;
		float: left;
		margin-left: 30px;
	}

	.button {
		padding: 12px 12px 12px 12px;
	}

	figure.prototype-container iframe {
		width: 100%;
		height: 100%;
		transform: scale(0.8);
	}

	/*Offscreen Navigation */

	nav {
		width: 100%;
		left: 0;
		text-align: center;
		margin: 0 auto;
		position: fixed;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}

	nav ul {
		background-color:
		right: 0px;
		background: var(--color-bg);
		height: auto;
		z-index: 99;
		position: absolute;
		bottom: 0;
		transition: bottom 0.3s ease-in-out; 
		flex-direction: column;
		justify-content: flex-start;
		pointer-events: all;
		padding: 20px;
		box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
	}

	nav ul li {
		text-align: center;
		display: block;
		width: 60%;
		margin: 0;
		float: center;
		position: fixed;
		height: 40px;
		margin: 5px;
	}

	nav ul li a {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
	}

	nav input#toggle {
		display: none;
		pointer-events: all;

	}

	nav input#toggle + label {
		display: block;
		width: 62px;
		height: 62px;
		position: fixed;
		right: 0;
		bottom: 0;
		cursor: pointer;
		z-index: 100;
		pointer-events: all;
		padding: 5px;
	}

	input#toggle:checked ~ ul {
		bottom: -100vh;
	}

	.nav-toggle {
		margin: 1em;
		width: 40px;
	}
	  
	.nav-toggle:after, 
	.nav-toggle:before, 
	.nav-toggle div {
		background-color: #252525;
		border-radius: 3px;
		content: '';
		display: block;
		height: 5px;
		margin: 10px auto;
		width: 80%;
		transition: all .1s ease-in-out;
	}

	
	input#toggle:not(:checked) ~ .nav-toggle:before {
		transform: translateY(15px) rotate(135deg);
	}

	input#toggle:not(:checked) ~ .nav-toggle:after {
		transform: translateY(-15px) rotate(-135deg);
	}

	input#toggle:not(:checked) ~ .nav-toggle div {
		transform: scale(0);
	}

}

@media (min-width: 761px) and (max-width: 1500px) {
	.content-container {
		margin: 2em 2em;
	}
}
